.git
.gitignore

.venv
venv
env

**/__pycache__
**/*.pyc
.pytest_cache

.env
.env.*
*.key
*.pem
credentials.json
service-account*.json

data/processed
data/rejected

logs
*.log

**/.terraform
*.tfstate
*.tfstate.*