# ============================================================
# TOULOUSE AVIATION DATA PLATFORM
# EXEMPLE DE CONFIGURATION
# ============================================================

# ------------------------------------------------------------
# ENVIRONNEMENT
# ------------------------------------------------------------

APP_ENV=dev


# ------------------------------------------------------------
# GCP
# ------------------------------------------------------------

GCP_PROJECT_ID=toulouse-aviation-data

AVIATION_RAW_BUCKET=toulouse-aviation-data-raw


# ------------------------------------------------------------
# BIGQUERY
# ------------------------------------------------------------

BIGQUERY_DATASET_ID=aviation_raw

BIGQUERY_TABLE_ID=aircraft_positions

BIGQUERY_SOURCE_OBJECT=raw/streaming/aircraft_positions/year=2026/month=09/day=01/aircraft_positions_sample.jsonl


# ------------------------------------------------------------
# DBT
# ------------------------------------------------------------

DBT_RAW_DATASET=aviation_raw


# ------------------------------------------------------------
# KAFKA
# ------------------------------------------------------------

KAFKA_BOOTSTRAP_SERVERS=localhost:9092

KAFKA_TOPIC=aircraft_positions

KAFKA_GROUP_ID=aviation-gcs-writers

KAFKA_TEST_GROUP_ID=aviation-rebalance-test

KAFKA_BATCH_SIZE=3

KAFKA_MAX_WAIT_SECONDS=10


# ------------------------------------------------------------
# AIRFLOW / PYSPARK
# ------------------------------------------------------------

AVIATION_PROJECT_DIR=/path/to/toulouse-aviation-data-platform

AVIATION_PYSPARK_PYTHON=/path/to/.venvs/toulouse-aviation/bin/python
