# ============================================================
# Python
# ============================================================
__pycache__/
*.py[cod]
.pytest_cache/

# Virtual environments
.venv/
venv/
env/

# ============================================================
# Environment / secrets
# ============================================================
.env
.env.*
*.key
*.pem
credentials.json
service-account*.json

# ============================================================
# IDE / OS
# ============================================================
.vscode/
.idea/
.DS_Store
Thumbs.db

# ============================================================
# Spark
# ============================================================
spark-warehouse/
metastore_db/
derby.log
*.crc

# ============================================================
# Generated data
# ============================================================
data/processed/
data/rejected/

# ============================================================
# Logs
# ============================================================
*.log
logs/

# ============================================================
# Terraform
# ============================================================
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info
crash.log
crash.*.log